.vscode
.DS_Store
.project
.orig
.bak
*.orig
*.bak
.pak
.asar
.bin
.settings
*.settings
*.
node_modules
dist
installers
coverage/
dist_fortify/
package-lock.json
yarn-error.log
npm-debug.log
.angulardoc.json
